.container {
    position: absolute;
    z-index: 1;
   
    width: 18vw;
    height: 90vh;
    right: 12px;
    top:10px;
}

.logo {
   border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    animation: spin 5s infinite
    ;
}

.overlayDiv {
    position: absolute;
    z-index: 1;
    background-color: azure;
    border: 2px solid blue;
    width: 18vw;
    height: 90vh;
    right: 12px;
    top:10px;
}

.closeButton{
    position: absolute;
    right:0;
    top:0;
}

.li:hover {
    cursor: pointer;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

